<div class="container">
  <div class="row mt-2">
    <div class="col-md-4"></div>
    <div class="col-md-4">
      <form>
        <div class="form-group">
          <label for="app-input-email">Email address</label>
          <input [(ngModel)]="model.email" type="email" class="form-control" id="app-input-email" name="email" placeholder="Enter email">
        </div>
        <div class="form-group">
          <label for="app-input-password">Password</label>
          <input [(ngModel)]="model.password" type="password" class="form-control" id="app-input-password" name="password" placeholder="Password">
        </div>
        <div class="form-group">
          <label for="app-input-password2">Repeat password</label>
          <input [(ngModel)]="model.repeatedPassword" type="password" class="form-control" id="app-input-password2" name="password2" placeholder="Repeat password">
        </div>
        <div class="form-group form-check">
          <button type="button" (click)="signUp()" class="btn btn-primary float-right">Submit</button>
        </div>
        <div class=form-group *ngIf="errorMessage">
          <p>{{ errorMessage }}</p>
        </div>
      </form>
    </div>
  </div>
</div>
