<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" href="/home">Home</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
      <ng-container *ngIf="isSignedIn() else appSignOut">
        <li class="nav-item">
          <a [class.active]="isSignInActive" class="nav-link" href="/user/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a [class.active]="isSignUpActive" class="nav-link" href="/user/signup">Sign Up</a>
        </li>
      </ng-container>
      <ng-template #appSignOut>
          <li class="nav-item">
            <a class="nav-link active" href="/user/signout">Sign Out</a>
          </li>
      </ng-template>
    </ul>
  </div>
</nav>
