<nav class="navbar navbar-expand-sm navbar-light bg-light">
  <a class="navbar-brand" routerLink="/home">Home</a>
  <ul class="navbar-nav">
    <li class="nav-item">
      <a [class.active]="isUploadActive" class="nav-link" routerLink="/upload">Upload</a>
    </li>
    <li class="nav-item" *ngIf="isHomeActive">
      <a href="#" (click)="refresh();" class="nav-link active">Refresh images</a>
    </li>
  </ul>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
    <span class="navbar-toggler-icon"></span>
  </button>
  
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav ml-auto">
        <button *ngIf="isHomeActive" (click)="controlsInfo()" class="btn btn-info mr-4">?</button>
      <ng-container *ngIf="!isSignedIn() else appSignOut">
        <li class="nav-item">
          <a [class.active]="isSignInActive" class="nav-link" routerLink="/user/signin">Sign In</a>
        </li>
        <li class="nav-item">
          <a [class.active]="isSignUpActive" class="nav-link" routerLink="/user/signup">Sign Up</a>
        </li>
      </ng-container>
      <ng-template #appSignOut>
          <li class="nav-item">
            <a href="#" (click)="signOut();" class="nav-link active">Sign Out</a>
          </li>
      </ng-template>
    </ul>
  </div>
</nav>

<div id="app-modal2" tabIndex="-1" class="modal autoModal" role="dialog">
    <div class="modal-dialog modal-md autoModal" role="document">
      <div class="modal-content">
        <div class="modal-body">
          <h3 class="mb-5">Controls:</h3>
          <ul *ngIf="!isTouch()">
            <li><h5>use wsad & rf to move camera</h5></li>
            <li><h5>use mouse to rotate camera</h5></li>
            <li><h5>use space to select image</h5></li>
          </ul>
          <ul *ngIf="isTouch()">
            <li><h5>use left joystick & up/down buttons to move camera</h5></li>
            <li><h5>use right joystick to rotate camera</h5></li>
            <li><h5>use button to select image</h5></li>
          </ul>
        </div>
        <div class="modal-footer">
            <button type="button" class="btn btn-secondary" (click)="hideInfo()">Close</button>
          </div>
      </div>
    </div>
  </div>
