<div class="container">
  <div class="row pt-3">
    <div class="mx-auto col-">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input [disabled]="showSpinner" (input)="onFileChange($event)" type="file" class="custom-file-input" id="app-file-input">
          <label class="custom-file-label" for="app-file-input">{{ this.currentFile ? this.currentFile : 'Choose file' }}</label>
        </div>
        <div class="input-group-append">
          <button [disabled]="showSpinner" (click)="uploadFile();" class="input-group-text" id="app-upload-button">Upload</button>
        </div>
        <div class="input-group-append">
          <button (click)="navigateToHome()" *ngIf="uploadResult === 'Success!'" class="input-group-text ml-5">See new image in gallery</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-3 text-center">
    <h3 *ngIf="uploadResult" id="app-result">{{ uploadResult }}</h3>
    <app-spinner *ngIf="showSpinner" id="app-spinner"></app-spinner>
  </div>
  <div *ngIf="imgSrc" class="mt-3 text-center">
    <h4>Uploaded image:</h4>
    <img [src]="imgSrc">
  </div>
</div>
