<div class="container">
  <div class="row pt-5">
    <div class="mx-auto col-">
      <div class="input-group mb-3">
        <div class="custom-file">
          <input [disabled]="showSpinner" (input)="onFileChange($event)" type="file" class="custom-file-input" id="app-file-input">
          <label class="custom-file-label" for="app-file-input">{{ this.currentFile ? this.currentFile : 'Choose file' }}</label>
        </div>
        <div class="input-group-append">
          <button [disabled]="showSpinner" (click)="uploadFile();" class="input-group-text">Upload</button>
        </div>
      </div>
    </div>
  </div>
  <div class="mt-5 text-center">
    <h3 *ngIf="uploadResult">{{ uploadResult }}</h3>
    <app-spinner *ngIf="showSpinner"></app-spinner>
  </div>
</div>
